body{
	background-image: url(../images/fondo1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0;
}

.zammerContainer{
	margin:10px auto;
	text-align: center;
	cursor: pointer;
}

.zammerConstruccion{
	margin:50px auto;
	text-align: center;
}

.zammerLogo{
	display:inline-block;
	vertical-align: middle;
}

.zammerText{
	display:inline-block;
	vertical-align: middle;
}

.title{
	width:300px;
	height:auto;
	margin:30 auto;
	text-align:center;
	color:red;
}

.tabContainer{
	width: 100%;
	height: auto;
	margin: 20px auto;
	text-align: center;
	background-color: white;
	padding: 15px 0;
	border-bottom: 7px solid #EA0500;
}

.tab{
	font-family: sans-serif;
	font-size:16px;
	font-weight:bold;
	width:140px;
	margin:5px 0;
	display:inline-block;
	vertical-align: middle;
}

.tab a{
	color:black;
	text-decoration: none;
}

.tab a:hover{
	color: #EA0500;
}

.product{
	display: inline-block;
	vertical-align: middle;
	margin:10px;
	width: 200px;
}

.product img{
	border-bottom: 4px solid #EA0500;
}

.productDescription{
	font-family: sans-serif;
	font-size:16px;
	font-weight:bold;
	color: white;
	text-align: center;
	margin-top: 5px;
}

.productDescription p{
	margin: 0;
}

.proshopContainer{
	display:inline-block;
	width: 58%;
}

.banner{
	display:inline-block;
	vertical-align:top;
	width:17%;
	background: none repeat scroll 0 0 #EA0500;
	padding: 5px;
	border-radius: 75px 5px 75px 5px;
	text-shadow: 1px 1px black;
}

.banner p{
	margin:5px 0;
	color: white;
	font-weight: bold;
	font-size: 12px;
}

.banner p.bannerTitle{
	font-size: 15px;
}

.banner p.bannerSubtitle{
	font-size: 13px;
}

.banner img{
	width: 100%;
}

.bannerContainer{
	min-height:50px;
}

.mainContainer{
	margin:30px auto;
	text-align: center;
}

.left{
	text-align:left;	
}

.right{
	text-align:right;	
}

.nosotrosContainer{
	width:60%;
	margin: 0 auto;
	background-color:white;
}

.nosotrosTextContainer{
	width:380px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.nosotrosImageContainer{
	width:340px;
	display: inline-block;
	vertical-align: middle;
	border: 3px solid #EA0500;
}

.nosotrosImageContainer img{
	width:100%;
}

.nosotrosTitleContainer{
	text-align: left;
	padding:20px 20px 0 20px;
}

.nosotrosImage{
	display: inline-block;
	vertical-align: middle;
	background-image: url(../images/pelota.png);
	background-repeat:no-repeat;
	width: 36px;
	height: 36px;
}

.nosotrosTitle{
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	font-size: 20px;
	font-weight: bold;
	color: #EA0500;
}

.nosotrosContentContainer{
	padding: 20px;
}